.subhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  padding-left: 2px;
}

.center-content {
  flex-grow: 1; /* Grow to occupy available space */
  text-align: center; /* Center-align the text */
}
.right-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 40px;
}
