header nav {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer,
nav {
  display: flex;
  justify-content: center;
}

nav img {
  width: 300px;
}
nav a {
  margin-left: 30px;
}

@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
