// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


* {
  margin: 0;
  max-width: 1400px;
  position: center;
}

body {
  font-family: 'Archivo', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}


header,
footer {
  background-color: black;
  padding: 1% 50px;
}

.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover {
  text-decoration: none;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.icone-contact {
  margin-bottom: 1%;
  .lien-icone {
    margin-left: 30px;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
}

section {
  padding: 80px;
}

@media screen and (max-width: 996px) {
    header,
    footer {
      padding: 20px 20px;
    }
    h1 {
      font-size: 2em;
    }
    section {
      padding: 50px 20px 50px 20px;
    }
}
