<link rel="stylesheet" href="_card.scss" />

<div class="cards-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <% @categories.each do |category| %>
    <%# <%= cl_image_tag @category.cover.key, height: 300, width: 400, crop: :fill %>
    <div class="car-category-text">
      <h2><%= link_to category.name, category_path(category), class: "link" %></h2>
    </div>
  <% end %>
</div>


<h2 class="mb-4"><%= link_to "Create", new_category_path, class: "btn btn-dark ms-3 " %></h2>
</div>
